* {
  padding: 0;
  margin: 0;
}

.header {
  padding: 0%;
}

.navbarList {
  background-color: cadetblue;
  width: 100%;
  padding: 1rem;
}

.cartWidget {
  color: black;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.itemListConteiner {
  text-align: center;
  padding: 2rem;
}

.titleLisConteiner {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.ItemList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.cardItem{
  width: 85rem;
  margin-top: 6rem;
  margin-bottom: 6rem;  
}

.descripcionCard {
  height: 20rem;
  padding: 2rem;
  font-size: 1rem;
}

.imgCard {
  width: 16rem;
  height: 16rem;
  padding: .5rem;
}

.titleCard {
  height: 8rem;
  padding: 1rem;
}

.cardBodyDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 3rem;
  margin-top: 1rem;
}

.imgCardDetail {
  width: 50rem;
}

.titleCardDetailRow {
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.titleCardDetail {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  padding: .5rem;
}

.descripcionCardDetail {
  width: 20rem;
  margin-bottom: 3rem;
}

.itemCount {
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.addButton {
  margin: .5rem;
}

.count {
  font-size: 1.3rem;
  padding: 1rem;
}

.stockButton {
  padding: .5rem;
  margin: 1rem;
}

.addButton {
  padding: .5rem;
}

.featuresConteiner {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.features {
  padding: .5rem;
  list-style: none;
}

.features:nth-child(2n+0) {
  background-color: grey;
}

.features:nth-child(2n+1) {
  background-color: aliceblue;
}

.loading {
  text-align: center;
  height: 30rem;
}

.cart {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.cartCard {
  padding: 1rem;
  width: 60rem;
  height: 15rem;
  margin: 3rem 3rem 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cartCardBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgCartCard {
  height: 10rem;
  width: 10rem;
}

.cartCardTitle {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.cartDeleteButton {
  padding: 2rem;
  cursor: pointer
}

.cartStockButton {
  border-radius: 50%;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
}

.buttonEmpty{
  padding: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  cursor: pointer;
}

.purchaseSummary {
  margin-top: 3rem;
  width: 30rem;
  border: 1px grey solid;
  padding: 5rem;
  margin-bottom: 1rem;
}

.purchaseSummaryTitle {
  font-weight: bolder;
  text-align: center;
  border-bottom: 2px black solid;
}

.purchaseSummaryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem;
  font-size: 1.5rem;
}

.purchaseSummaryImg{
  width: 3rem;
}

footer {
  height: auto;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-footer {
  align-self: center;
  padding: 1rem;
  font-size: 1rem;
}

.redes {
  width: 25%;
  list-style: none;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}