* {
  padding: 0;
  margin: 0;
}

.header {
  padding: 0%;
}

.Navbar {
  background-color: cadetblue;
  width: 100%;
  padding: 1rem;
}

.link {
  font-size: 1.5rem;
}

.logo {
  font-size: 1.5rem;
}

.ItemListConteiner {
  text-align: center;
  padding: 2rem;
}

.ItemList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.descripcionCard {
  height: 20rem;
  padding: 2rem;
  font-size: 1rem;
}

.imgCard {
  width: 16rem;
  height: 16rem;
  padding: .5rem;
}

.titleCard {
  height: 8rem;
  padding: 1rem;
}

.itemCount {
  font-size: 1rem;
}

.count {
  padding: 1rem;
}

.stockButton {
  padding: .5rem;
  margin: 1rem;
}

footer {
  height: auto;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-footer {
  align-self: center;
  padding: 1rem;
  font-size: 1rem;
}

.redes {
  width: 25%;
  list-style: none;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}